<!DOCTYPE html>
<html>
  <head>
    <title>Your Likes</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Krub:300,400"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/Capture.PNG" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style type="text/css">
      body {
        background-color: white;
        background-image: url("/images/Dark-color-wood-texture-background-vector-09.png");
      }
      #header {
        position: fixed;
        top: 0%;
        width: 100vw;
        height: 10%;
        background: linear-gradient(to right, #3b3c3d, #6d6e70);
        border: 0.1vmin solid white;
        overflow: hidden;
      }
      #header img {
        float: left;
        width: 8vw;
        height: 7.5vh;
        background: #555;
        cursor: pointer;
        margin-left: 0.5vw;
        margin-top: 0.5%;
        /*border-radius: 15px;*/
      }
      #header #username {
        font-family: "Krub", sans-serif;
        position: absolute;
        color: #ff6600;
        left: 75%;
        top: 20%;
        bottom: 20%;
        border: 2vmin lightgrey;
        font-size: 3vmin;
        justify-content: center;
      }
      #username p {
        justify-content: center;
      }
      #username p:hover {
        color: red;
      }
      #eachContainer {
        position: static;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 20%;
        margin-bottom: -10%;
        width: 80%;
        padding: 3.5vmin 2vmin 2vmin 3.5vmin;
      }
      #pInfo {
        float: right;
        border: 2px solid grey;
        margin-top: -31vh;
        margin-left: -10vw;
        position: static;
        padding-top: 1.5vmin;
        padding-bottom: 1vmin;
        padding-left: 2.5vmin;
        padding-top: 1vmin;
        width: 60%;
        height: 28vmin;
        background-color: lightgrey;
        align-items: center;
        margin-right: 13vw;
        border-radius: 5%/16%;
      }
      p {
        font-family: "Krub", sans-serif;
        font-size: 2vmin;
        font-weight: bold;
      }
      #imgContainer {
        width: 33vmin;
        height: 33vmin;
      }
      #imgContainer img {
        align-items: center;
        position: static;
        margin-left: 1.3vmin;
        margin-right: 1.3vmin;
        margin-top: 1.3vmin;
        margin-bottom: 1.3vmin;
        border-radius: 50%;
      }
      .fa {
        font-size: 2.5vmin;
      }
      .imgFit {
        width: 29vmin;
        height: 29vmin;
      }
      .mName {
        font-size: 2.5vmin;
      }
      #mname {
        color: green;
        font-weight: bold;
        font-size: 3.2vmin;
      }
      #mname:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      .mGender {
        margin-left: 2vmin;
      }
      #mAge {
        margin-left: 2vmin;
      }
      #gIcon {
        margin-left: 1vmin;
      }
      #err {
        font-weight: bold;
        font-size: 5vmin;
        color: lightgrey;
        margin-top: 20vh;
        text-align: center;
      }
      #home {
        position: absolute;
        left: 90%;
        top: 2.5%;
        width: 5%;
        height: 5%;
        color: white;
        font-size: 2.5vmin;
        cursor: pointer;
        border: 1px solid cyan;

        justify-content: center;
      }
      #homeTxt {
        position: absolute;
        top: 4%;
        left: 15%;
        font-size: 2.5vmin;
        letter-spacing: 0.5vmin;
        font-family: monospace;
        font-weight: 800;
        color: white;
      }
      #homeIcon {
        position: absolute;
        top: 20%;
        left: 35%;
        color: cyan;
      }
      #MsgFrnd {
        margin-left: 90%;
        margin-top: -5%;
      }
      #MsgFrnd > button {
        border: none;
        background-color: lightgrey;
        /*border:2px solid grey;*/
        border-radius: 50%;
        height: 3vh;
      }
      .cus {
        font-size: 3vmin;
        cursor: pointer;
      }
      #chatbox {
        position: fixed;
        bottom: 0;
        right: 1%;
        width: 18%;
        height: 35%;
        background-color: lightgrey;
        border-top-left-radius: 8%;
        border-top-right-radius: 8%;
        border: 0.2vmin solid grey;
      }
      #chatHeader {
        position: absolute;
        border: 1px solid grey;
        width: 100%;
        height: 13%;
        border-top-left-radius: 8% 54%;
        border-top-right-radius: 8% 58%;
        background-color: #296868;
        padding-left: 5%;
        padding-top: 2.5%;
        color: white;
        letter-spacing: 2%;
      }
      #chatSpace {
        position: absolute;
        top: 13%;
        height: 74%;
        width: 100%;
        border-bottom: 1px solid grey;
        overflow-y: auto;
      }
      #chatMsg {
        position: absolute;
        color: white;
        top: 87%;
        height: 10%;
        width: 100%;
      }
      #msgip {
        position: absolute;
        background-color: #296868;
        padding-left: 2%;
        border: none;
        height: 130%;
        width: 87%;
      }
      #msgsbt {
        position: absolute;
        background-color: #296868;
        border: none;
        border-left: 2px solid grey;
        left: 87%;
        height: 130%;
        width: 13%;
      }
      #msgsbt:hover {
        background-color: lightgrey;
      }

      #box2 th td{
         
  border: 1px solid black;
  border-collapse: collapse;
      }
      *:focus {
        word-break: break-all;
        outline: none;
      }


    </style>
  </head>
  <body>
    <div id="header">
      <img
        src="/images/logo2.png"
        alt="logos"
        onclick="location.href='/dashboard' "
        title="home page"
      />
    </div>
    <div id="box1" style="text-align: center">
      <% if (user.image) { %>
      <img
        src="/userImages/<%= user.pname %>.jpg"
        style="height: 200px; width: 200px"
      />
      <% } else { %>
      <img src="/images/images_5.jpg" alt="Upload image" />
      <% } %>
      <div class="description">
        <p id="name"><%= user.pname %>,</p>
        <p id="about"><%= user.description %></p>
      </div>
      <% if( calledUser.pname!=user.pname) { %>
      <div id="likeBtn">
        <form action="/dashboard/like" method="POST">
          <button
            name="like"
            id="btnSubmitlike"
            type="submit"
            value="<%= user.pname %>"
            title="Interested"
          >
            <span><i class="fa fa-thumbs-up"></i></span>
          </button>
        </form>
        <% for(var i=0; i< likedUsers.length ; i++) { %> <% if (likedUsers[i]
        !='"') { %> <% if (likedUsers[i] == user.pname ) { %>
        <button id="BtnSubmitlike" title="Liked">
          Like
          <span><i class="fa fa-thumbs-up"></i></span>
        </button>
        <% } %> <% } %> <% } %>
      </div>
      <% } else { %>
      <div id="likeBtn">
        <form action="/dashboard/userProfile/delete" method="POST">
          <button
            style="color: red"
            name="del"
            id="btnSubmitdel"
            type="submit"
            value="<%= user.pname %>"
            title="Delete my Profile"
          >
            Delete My Account
            <span><i class="fa fa-trash"></i></span>
          </button>
        </form>
      </div>
      <% } %> <br>

      <from action="/dashboard/userProfile/update?<%= user.pname %>" method="POST">
        <button  style="color: red"
        name="del"
        id="btnuser"
        type="submit"
        value="<%= user.pname %>"
        title="update my Profile"
      > update my Profile <span><i class='fa fa-user'></i></span> 
  
      </from>

      <a href="/dashboard/userProfile/update?<%= user.pname %>">update</a>
      
    </div>

  
    <div>
      <br>
      <table id="box2" style="margin-left: auto; margin-right: auto">
        <tr style="border: 1px solid black; border-collapse: collapse">
          <td
            class="left"
            style="border: 1px solid black; border-collapse: collapse"
          >
            First Name
          </td style="border: 1px solid black; border-collapse: collapse">
          <td class="right"style="border: 1px solid black; border-collapse: collapse"><%= user.fname %></td>
        </tr>
        <tr style="border: 1px solid black; border-collapse: collapse">
          <td class="left"style="border: 1px solid black; border-collapse: collapse">Last Name</td>
          <td class="right"><%= user.lname %></td>
        </tr>
        <tr  style="border: 1px solid black; border-collapse: collapse">
          <td class="left"style="border: 1px solid black; border-collapse: collapse"  >Gender</td>
          <td class="right" style="border: 1px solid black; border-collapse: collapse"  ><%= user.gender %></td>
        </tr>
        <tr style="border: 1px solid black; border-collapse: collapse" >
          <td class="left" style="border: 1px solid black; border-collapse: collapse" >Date Of Birth</td>
          <td class="right"><%= (user.DOB).toDateString() %></td>
        </tr>
        <tr style="border: 1px solid black; border-collapse: collapse" >
          <td class="left" style="border: 1px solid black; border-collapse: collapse" >Religion</td>
          <td class="right" style="border: 1px solid black; border-collapse: collapse" ><%= user.religion %></td>
        </tr>
        <tr style="border: 1px solid black; border-collapse: collapse" >
          <td class="left" style="border: 1px solid black; border-collapse: collapse" >Mother Tongue</td>
          <td class="right" style="border: 1px solid black; border-collapse: collapse" ><%= user.motherTongue%></td>
        </tr>
        <tr style="border: 1px solid black; border-collapse: collapse" >
          <td class="left" style="border: 1px solid black; border-collapse: collapse" >Email</td>
          <td class="right"><%= user.email%></td>
        </tr>
        <tr style="border: 1px solid black; border-collapse: collapse"  >
          <td class="left" style="border: 1px solid black; border-collapse: collapse" >Height</td>
          <td class="right" ><%= user.userHeight %>cm</td>
        </tr>
        <tr style="border: 1px solid black; border-collapse: collapse">
          <td class="left" style="border: 1px solid black; border-collapse: collapse">Marital Status</td>
          <td class="right"><%= user.mStatus%></td>
        </tr>
        <tr style="border: 1px solid black; border-collapse: collapse">
          <td class="left" style="border: 1px solid black; border-collapse: collapse">Qualificaiton</td>
          <td class="right"><%= user.qualification %></td>
        </tr>
        <tr style="border: 1px solid black; border-collapse: collapse">
          <td class="left" style="border: 1px solid black; border-collapse: collapse">College</td>
          <td class="right"><%= user.college%></td>
        </tr>
        <tr style="border: 1px solid black; border-collapse: collapse">
          <td class="left" style="border: 1px solid black; border-collapse: collapse">country</td>
          <td class="right"><%= user.country %></td>
        </tr>
        <tr style="border: 1px solid black; border-collapse: collapse">
          <td class="left" style="border: 1px solid black; border-collapse: collapse">Occupation</td>
          <td class="right"><%= user.occupation %></td>
        </tr>
        <tr style="border: 1px solid black; border-collapse: collapse">
          <td class="left" style="border: 1px solid black; border-collapse: collapse">Salary</td>
          <td class="right"><%= user.salary %> INR</td>
        </tr>
      </table>
    </div>
    <div id="home" onclick="location.href='/dashboard' ">
      <p id="homeTxt">Home</p>
      <p><span id="homeIcon" class="glyphicon glyphicon-home"></span></p>
    </div>
  </body>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#disableBtnSubmitlike").hover(
        function () {
          $("#disableBtnSubmitlike").css("cursor", "not-allowed");
        },
        function () {
          $("#disableBtnSubmitlike").css("cursor", "not-allowed");
        }
      );
      $("#homeIcon").hide();
      $("#home").hover(
        function () {
          $("#homeTxt").hide();
          $("#homeIcon").show();
        },
        function () {
          $("#homeTxt").show();
          $("#homeIcon").hide();
        }
      );
    });
  </script>
</html>
